In [1]:
import sklearn
import numpy as np
import pandas as pd
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
import re
import pickle
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings('ignore')

In [2]:
conn = sqlite3.connect('../db.sqlite3')

In [3]:
df_raw = pd.read_sql_query("SELECT * FROM scraper_auto", conn)

In [11]:
target_names = ["bouwjaar", "kilometer_stand", "vermogen", "prijs", "is_handgeschakeld", "is_benzine", "upload_datum", "apk"]
df = df_raw[target_names]
df.describe()

,bouwjaar,kilometer_stand,vermogen,prijs,is_handgeschakeld,is_benzine
count,952.000000,9.510000e+02,952.000000,9.420000e+02,950.000000,952.000000
mean,2009.689076,1.689498e+05,83.320378,1.718695e+07,0.972632,0.589286
std,2.868291,1.033004e+05,13.502864,2.357027e+08,0.163240,0.492222
min,2005.000000,7.183000e+03,51.000000,1.000000e+00,0.000000,0.000000
25%,2007.000000,1.195605e+05,77.000000,2.250000e+03,1.000000,0.000000
50%,2010.000000,1.709330e+05,84.000000,2.944500e+03,1.000000,1.000000
75%,2011.000000,2.102095e+05,86.000000,4.074750e+03,1.000000,1.000000
max,2018.000000,2.625966e+06,180.000000,3.445143e+09,1.000000,1.000000

In [12]:
MAX_PRICE = 30000
MIN_PRICE = 1000
df = df[(df['prijs'] > MIN_PRICE) & (df['prijs'] < MAX_PRICE)]

MIN_BOUWJAAR = 2000
df = df[df['bouwjaar'] > MIN_BOUWJAAR]

MAX_VERMOGEN = 500
df = df[df['vermogen'] < MAX_VERMOGEN]

df.describe()

,bouwjaar,kilometer_stand,vermogen,prijs,is_handgeschakeld,is_benzine
count,914.000000,9.130000e+02,914.000000,914.000000,912.000000,914.000000
mean,2009.783370,1.664664e+05,83.278993,3698.155361,0.972588,0.590810
std,2.865573,1.037399e+05,13.195300,2289.714849,0.163371,0.491954
min,2005.000000,7.183000e+03,51.000000,1150.000000,0.000000,0.000000
25%,2007.000000,1.178480e+05,77.000000,2295.000000,1.000000,0.000000
50%,2010.000000,1.692470e+05,84.000000,2950.000000,1.000000,1.000000
75%,2011.000000,2.076460e+05,86.000000,4208.750000,1.000000,1.000000
max,2018.000000,2.625966e+06,180.000000,13900.000000,1.000000,1.000000

In [15]:
df['upload_datum'] = pd.to_datetime(df['upload_datum'])
df['apk'] = pd.to_datetime(df['apk'])

average_upload_datum = df['upload_datum'].mean().toordinal()
average_apk =df['apk'].mean().toordinal()

def upload_datum_to_ordinal(date):
    if date is pd.NaT:
        return abs(datetime.now().toordinal() - average_upload_datum)
    else:
        return abs(datetime.now().toordinal() - date.toordinal())
    
def apk_to_ordinal(date):
    if date is pd.NaT:
        return abs(datetime.now().toordinal() - average_apk)
    else:  
        return abs(datetime.now().toordinal() - date.toordinal())

df['upload_datum'] = df['upload_datum'].apply(upload_datum_to_ordinal).astype(int)
df['apk'] = df['apk'].apply(apk_to_ordinal).astype(int)

# def parse_titel(titel):
#     cleaned = re.sub('[^a-zA-Z]+', ' ', titel.lower())
#     stripped = line = re.sub(r'\b\w{1,3}\b', '', cleaned)
    
#     return stripped

# df['titel'] = df['titel'].apply(parse_titel)

In [16]:
df = df.dropna()
#df.isna().sum()

In [17]:
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [18]:
df.to_pickle("./data.pkl")